/* ProfileButton.css */

 .user-menu {
    position: relative;
    
  }

  .userId {
    display: flex;
    flex-direction: column;
  }
  
  .user-menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
  }
  
  .profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0; 
    height: 250px;  
    width: 275px;  
    background-color: #153243;
    border-radius: 4px;
    box-shadow: 0 4px 10px  #4b0082;
    z-index: 1000;
    padding: 10px;
    
  }
  
  .profile-dropdown li {
    flex-direction: column;
    margin: 15px ;
    color: #eef0eb; 
    font-size: large;
    justify-items: space-evenly;
  }
  
  .logout-button {    
    color: white;    
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #c9302c; 
  }
  
  .hidden {
    display: none;
  }  